{{ define "main" }}
<h2 class="headline">{{ .Title }}</h2>
{{ range .Pages }}
<div class="article-item">
  {{ if .Params.image }}
    <a class="article-photo" href="{{ .RelPermalink }}">
      <img src="{{ .RelPermalink }}{{ .Params.image }}" alt="{{ .Title }}" title="{{ .Title }}">
      {{ if .Params.caption }}<span class="hover-caption">{{ .Params.caption }}</span>{{ end }}
    </a>
  {{ else }}
    <div class="article-photo photo-placeholder">[ PHOTO ]</div>
  {{ end }}
  <div class="article-text">
    <h2 class="headline"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    <div class="byline">Posted: {{ .Date.Format "2 January 2006" }}</div>
    <p>{{ .Summary }}</p>
  </div>
</div>
<hr class="stars">
{{ end }}
{{ end }}
