{{ define "main" }}
<h2 class="headline">Latest News</h2>
{{ range first 10 (where .Site.RegularPages "Type" "posts") }}
  {{ if .Params.image }}
    <a class="article-photo" href="{{ .RelPermalink }}{{ .Params.image }}" target="_blank">
      <img src="{{ .RelPermalink }}{{ .Params.image }}" alt="{{ .Title }}">
    </a>
  {{ else }}
    <div class="article-photo photo-placeholder">[ PHOTO ]</div>
  {{ end }}
  <h2 class="headline"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
  <div class="byline">Posted: {{ .Date.Format "2 January 2006" }}</div>
  <p>{{ .Summary }}</p>
  <hr class="stars">
{{ end }}
{{ end }}
